html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  font-family: sans-serif;
}

.header{
  background-color: #0769e9;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  height: inherit;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__link{
  text-decoration: none;
  color: #fff;
}

.logo{
  font-size: 3rem;
  font-weight: bold;
  padding: 0 4rem;
  /* Para centrar verticalmente */
  /* line-height: 8rem; */
  align-self: center;
}

.nav__menu{
  display: flex;
  margin: 0 4rem 0 0;
  list-style: none;
  gap: 1.5rem;
  align-self: center;
  padding: 0;
}

.nav__menu--item{
  font-size: 1.8rem;
  text-transform: uppercase;
  width: max-content;
}
.nav__menu--link{
  padding: 0.8rem 1.2rem;
  border-radius: 0.3rem;
}

.nav__menu--link:hover{
  background-color: #034574;
  transition: .5s;
}